@import '../../../styles/sass/abstract/abstracts';

.icon_container {
  position: relative;

  @include size(100%);

  font-size: inherit;
  line-height: 1;

  border: none;
  background-color: inherit;
  border-radius: inherit;

  pointer-events: none;

  user-select: none;
}

.icon_figure {
  position: absolute;
  top: calc(50% - 0.5em);
  left: calc(50% - 0.6em);

  @include size(0);

  border-left: 0.6em solid transparent;
  border-right: 0.6em solid transparent;
  border-bottom: 1em solid currentColor;
}
