@import '../../styles/abstract/abstracts';

.nav {
  padding: 1rem;

  @include flex();

  background-color: $color-background;

  text-align: center;
}

.link {
  padding: 0.25rem;
}

.active {
  background-color: coral;
}
