@import '../../styles/abstract/abstracts';

.nav {
  position: relative;

  height: 100%;

  @include flex();

  @include media-surface {
    width: 100%;
  }
}

.link {
  position: relative;

  @include flex();

  border-left: $border;
  border-right: $border;

  color: firebrick;

  &:first-child {
    border-left: none;
  }

  &:last-child {
    border-right: none;
  }

  background-color: transparent;

  font-size: 1.6rem;

  @extend %transition-hover;

  @include media-mobile {
    font-size: 1.4rem;
  }

  @include media-hover {
    &:hover {
      background-color: $color-shadow-light;
    }
  }

  & a {
    padding: 0.5rem 1.5rem;
    text-decoration: none;

    @include media-mobile {
      padding: 0.5rem 1rem;
    }
  }
}

.active {
  @extend %transition-hover;
  background-color: $color-shadow-light;
}
